<div class="container-fluid">
    <div class="row mbox-wrap" style="height: 100vh;">

        <div class="col-12 md-col-12 mbox">
            <div class="box">
                <img src="\assets\glow.gif" alt="notfound">
                <button (click)="LoginPage()" type="button" class="btn btn-success btn-lg btn-block p-3 mt-2"
                    style="font-size: 45px; font-weight: bold; background:linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); ">Lets
                    Play</button>
            </div>
        </div>
    </div>
</div>