<div id="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 cell" id="c11" (click)="boxclick()">
            </div>
            <div class="col-xs-4 cell" id="c12" (click)="boxclick()">
            </div>
            <div class="col-xs-4 cell" id="c13" (click)="boxclick()">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 cell" id="c21" (click)="boxclick()">
            </div>
            <div class="col-xs-4 cell" id="c22" (click)="boxclick()">
            </div>
            <div class="col-xs-4 cell" id="c23" (click)="boxclick()">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 cell" id="c31" (click)="boxclick()">
            </div>
            <div class="col-xs-4 cell" id="c32" (click)="boxclick()">
            </div>
            <div class="col-xs-4 cell" id="c33" (click)="boxclick()">
            </div>
        </div>

        <div>
            <button class="btn btn-primary">Start</button>
        </div>
    </div>
</div>