<div class="box">
    <div id="game">
        <div class="row">
            <div class="col-xs-4 cell"><button></button></div>
            <div class="col-xs-4 cell"><button></button></div>
            <div class="col-xs-4 cell"><button></button></div>
        </div>
        <div class="row">
            <div class="col-xs-4 cell"><button></button></div>
            <div class="col-xs-4 cell"><button></button></div>
            <div class="col-xs-4 cell"><button></button></div>
        </div>
        <div class="row">
            <div class="col-xs-4 cell"><button></button></div>
            <div class="col-xs-4 cell"><button></button></div>
            <div class="col-xs-4 cell"><button></button></div>
        </div>

    </div>

    <div id="controls">
        <button id="resetButton">Reset game</button>
        <button id="resetButton" (click)="start()">Start Game</button>
    </div>
</div>







<!--

<div class="box">
    <div id="game">
        <div class="row">
            <div onclick="button_onclick()"><button></button></div>
            <div onclick="button_onclick()"><button></button></div>
            <div onclick="button_onclick()"><button></button></div>
        </div>
        <div class="row">
            <div><button></button></div>
            <div><button></button></div>
            <div><button></button></div>
        </div>
        <div class="row">
            <div><button></button></div>
            <div><button></button></div>
            <div><button></button></div>
        </div>
    </div>
    <div id="controls">
        <div>
            <label><input type="radio" name="level" /><span>Low</span></label>
            <label><input type="radio" name="level" checked="checked" /><span>Medium</span></label>
            <label><input type="radio" name="level" /><span>Hard</span></label>
        </div>
        <button id="resetButton">Reset game</button>
        <button id="resetButton" (click)="start()">Start Game</button>
    </div>
</div>

-->