<div class="container-fluid">
    <div class="row b1 justify-content-center align-items-center">
        <div class="col-5 col-lg-4 myclass">
            <span> Oops! </span>
            <span style="font-size: 26px;">404 - PAGE NOT FOUND</span>
            <span style="font-size: 18px;">We are sorry but page you are requested was not found</span>
            <button class="btn" style="background-color:gray;color: honeydew; border-radius: 25px;">
                Go back home
            </button>
        </div>
    </div>
</div>